* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #2C4770;
}

.top-nav {
  height: 70px;
  background-color: #051938;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  background-color: #051938;
  width: 60%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px 100px;
}

main {
  text-align: center;

}

.intro, .about {
  background-color: #4D658D;
  width: 80%;
  margin:0 auto 20px auto;  
}

.experience {
  background-color: #4D658D;
  width: 80%;
  margin:0 auto;
}



h2 {
  text-transform: lowercase;
  display: inline-block;
}